*{
    margin: 0;
    padding: 0;
}

.logout{
    text-align: end;
    padding: 0% 1% 0% 0%;
    color: white;
}

.logout button{
    text-decoration: none;
    color: white;
    border: none;
    background-color:#808080;
    padding: .5% .5% .5% .5%;
}

.logout button:hover{
    text-decoration: none;
    color: brown;
}


.navbar{
    margin: auto;
    padding:  0;
    background-color: gray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 97vw;
    padding: 1% 1% 1% 1%;
    display: flex;
}

.navbar div{
    display: inline-block;
    width: 50%;
}


.nav_link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
}

.nav_link:hover{
    color: black;
    font-size: 1.1rem;
}
.border{
    width: 80vw;
    text-align: end;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    width: 50vw;
    justify-content: end;
    border: 2px solid black;
}

.navbar li{
    margin: 0% 1.7%;
}



header {
    background-color: #333;
    color: #fff;
    padding: 1.5% 1.5%;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

h1 {
    margin: 0;
}

nav{
    display: flex;
    width: 80%;
    
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: .25rem;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.username{
    font-size: .75rem;
    padding: .5% 0% 0% 0%;
    color: lightgray;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    border-radius: .25rem;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: .25rem;
}
