*{
    margin: 0;
    padding: 0;
}

.new_opp{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: .5%;;
    text-align: center;
}

.new_opp a{
    color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background-color: rgb(211, 211, 211, 1);
    
}


.new_opp a:hover{
    color: black;
    font-size: 1.1rem;
    text-align: center;
}

.opportunity_table{
    width: 100%;
    background-image: url(https://seconnerimages.nyc3.cdn.digitaloceanspaces.com/new_user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 91VH;
    padding-top: 1%;
}

.opportunity_table h1{
    width: 25%;
    background-color: rgb(211, 211, 211, .75);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


    

.opportunity_table table{
    width: 75%;
    height: 4vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255, 1);
}

.opportunity_table table tr th{
    background-color: rgb(64, 64, 64, 1);
    color: white;
    font-size: 1rem;
    text-wrap: nowrap;
    padding: .5rem;
    text-align: center;
}

.opportunity_table table tbody tr td{
    background-color: rgb(255, 255, 255, .7);
    color: black;
    font-size: 1rem;
    text-wrap: nowrap;
    padding: .75rem;
    text-align: center;
}

.opportunity_table table tbody tr td input{
    text-align: center;
    padding: .5rem;
    border: none;
}

.opportunity_table table tbody tr td input:focus{
    text-align: center;
    padding: .5rem;
    border: green;
}

.opportunity_table table tbody tr td select{
    text-align: center;
    padding: .5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: green;
}

.opportunity_table table tbody tr td select option{
    text-align: center;
    padding: .75rem;
}

.opportunity_table table tbody tr td select:focus{
    text-align: center;
    padding: .5rem;
}


.opportunity_table table tbody tr:nth-child(odd){
    background-color: rgb(211, 211, 211, .7);
    color: dark;
    font-size: 1rem;
    text-wrap: nowrap;
    text-align: center;
}

.opportunity_table table tbody tr:nth-child(even){
    background-color: rgb(255, 255, 255, .7);
    color: black;
    font-size: 1rem;
    text-wrap: nowrap;
    text-align: center;
}


