*{
    margin: 0;
    padding: 0;
}


label{
    display: block;
    color: black;
}

.error{
    color: red;
    font-size: x-small;
}
.form_container_body{
    display: block;
    height: 90.5vh;
    background-image: url("https://seconnerimages.nyc3.cdn.digitaloceanspaces.com/new_user.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: auto;
}

.form_container_body h1{
    text-align: center;
    margin-top: 50px;
    width: 25%;
    border-radius: .2rem;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(210, 210, 210);
}
.form_container_body_med form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    width: 25%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: .25rem;
    border: #000 1px solid;
    background-color: rgb(255, 255, 255, .75);
    padding-top: .5%;
    overflow: auto;
}

.form_group{
    margin-top: 5%;
    margin-bottom: 2%;
    height: 8vh;
}

.form_container_body form::-webkit-scrollbar {
    width: 10px;
}

.form_container_body form::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.form_container_body form::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(64, 64, 64, 1);
}

.form_container_body form div{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    /* border: 1px solid #000; */
}


.form_container_body form div input{
    display: block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 2vh;
    border: 1px solid #000;
    border-radius: 5px;
    padding: .75rem;
    color : black;
    background-color: white;
}

.form_container_body form div select{
    display: block;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 3vh;
    font-size: small;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    padding: .15rem;
    background-color: white;
}

.form_container_body form div select:focus{
    color: black;
}

.form_container_body form div select option{
    color: black;
    text-align: center;
    text-transform: capitalize;
}

.form_container_body form div textarea{
    display: block;
    width: 80%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    border: 1px solid #000;
    border-radius: 5px;
    padding: .75rem;
    background-color: white;
}


.form_container_body form div textarea::-webkit-scrollbar {
    width: 10px;
}

.form_container_body form div textarea::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.form_container_body form div textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(64, 64, 64, 1);
}


.form_container_body form div label{
    display: block;
    text-align: center;
}

.form_container_body form div button{
    margin-top: 2%;
    width: 50%;
    text-align: center;
    background-color: rgb(64, 64, 64, 1);
    color: white;
    border-radius: .25rem;
    padding: .25rem;
    cursor: pointer;
}

.form_container_body form div button:disabled{
    margin-top: 2%;
    width: 50%;
    text-align: center;
    background-color: rgb(211, 211, 211, .75);
    border-radius: .25rem;
    padding: .25rem;
    cursor: not-allowed;
}
/*.form_container_body form div button:disabled{*/
/*    margin-top: 2%;*/
/*    width: 50%;*/
/*    text-align: center;*/
/*    border-radius: .25rem;*/
/*    padding: .25rem;*/
/*    cursor: pointer;*/
/*}*/

.count{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: end;
}