*{
    padding: 0%;
    margin: 0%;
}


.template_actions{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
}


.no_btn{
    display: inline-block;
    margin-left: 1%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: transparent;
}

.no_btn:hover{
    color: white;
    background-color: rgb(0, 0, 0, 1);
}

.edit_action{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    font-size: xx-small;
    cursor: pointer;
    background-color: rgb(255, 255, 255, .70);
}


.template{
    display: block;
    background-image: url(https://seconnerimages.nyc3.cdn.digitaloceanspaces.com/isp4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 91.1vh;
    border: 1px solid black;
}

.template table{
    background-color: rgb(255, 255, 255, .85);
    /* height: 50vh; */
    width: 75%;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5%;
}


.template h1{
    text-align: center;
    padding: .5rem;
    font-size: 1.5vw;
    font-weight: bold;
    text-wrap: nowrap;
    color: black;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255, .70);
}

.download_template{
    
    border: none;
    background-color: rgb(255, 255, 255, .0);
    color: black;
    cursor: pointer;
}

.template table tr th{
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}

.template table tbody tr td{
    padding: 1rem;
    height: 5vh;
    text-align: center;
    border: 1px solid black;
}

.new_template_sm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: auto;
    background-color: rgb(255, 255, 255, .75);
    width: 30%;
    height: 5vh;
    border-radius: .25rem;
    text-align: center;
    overflow: hidden;
}


.new_template_sm form{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 95%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    font-weight: 500;
    font-size: 1vw;
    text-wrap: nowrap;
    overflow: hidden;
}

.new_template_name{
    width: 75%;
    height: 90%;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.new_template_name input{
    width: 90%;
    height: 90%;
    padding: 1%;
    border-radius: .25rem;
    text-align: center;
    border: 1px solid darkgray;
}

.new_template_submit{
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.new_template_submit button{
    padding: 3%;
    border-radius: .25rem;
    background-color: rgb(64, 64, 64, .75);
    color: white;
}

.new_template_submit button:hover{
    padding: 3%;
    border-radius: .25rem;
    background-color: black;
    color: white;
}

.new_template_submit button:disabled{
    padding: 3%;
    border-radius: .25rem;
    background-color: white;
    color: darkgray;
}

.new_template_submit button:hover:disabled{
    padding: 3%;
    border-radius: .25rem;
    background-color: white;
    color: darkgray;
}



.new_tempalte:hover a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}



